.with-scroll {
    height: 300px;
    margin: auto;
    width: 80%;
    overflow: auto;
    white-space: nowrap;
}
.table-header{
    background-color: rgb(163, 163, 163);
}
.table-row:hover {
    background-color: rgb(221, 221, 221);
}
.selected{
    background-color: rgb(221, 221, 221);
}