.with-scroll {
    height: 300px;
    margin: auto;
    width: 500px;
    overflow: auto;
    white-space: nowrap;
}

.c9-table .table-header th {
    position: sticky;
    top: 0;
    background-color: rgb(163, 163, 163);
}

.table-row:hover {
    background-color: rgb(221, 221, 221);
}

.selected {
    background-color: rgb(221, 221, 221);
}

/* td:first-child,
th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: gray;
}

td:last-child,
th:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: gray;
} */

th:first-child,
th:last-child {
    z-index: 2;
}

.fixLeft {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: gray;
}

.fixRight {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: gray;
}