.with-scroll {
    height: 300px;
    margin: auto;
    width: 80%;
    overflow: auto;
    white-space: nowrap;
}

.c9-table .table-header th {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: rgb(163, 163, 163);
}

.table-row:hover {
    background-color: rgb(221, 221, 221);
}

.selected {
    background-color: rgb(221, 221, 221);
}

.fix-left {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: gray;
}

.fix-right {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: gray;
}