<button class="btn btn-primary" (click)="removeRows()">Remove</button>
<button class="btn btn-primary" (click)="showDetails()">Show details</button>
<app-table [tableHeader]="tableHeader" [tableContent]="tableContent" [content]="content">
    <ng-template #tableHeader>
        <tr class="table-header">
            <th class="table-header-cell" *ngFor="let row of headerContent">{{row.label}}</th>
        </tr>
    </ng-template>
    <ng-template #tableContent let-row="row">
        <tr [appSelectRow]="row" class="table-row" [ngClass]="{'selected': row.isSelected === true}">
            <td *ngFor="let col of headerContent" class="table-body-cell">{{row[col.key]}}</td>
        </tr>
    </ng-template>
</app-table>